* {
    margin: 0;
    font-family: 'Roboto', sans-serif;}
body{
    background-color: #F6F6F6;}
/*------------------header------------------*/
header {
    background-color: #061622;
    padding: 80px 0 80px 0px;}
h1{
    color: #FFFFFF;
    font-size: 55px;
    max-width:  1150px;
    text-align: justify;
    margin: 0 auto;}
/*------------------nav------------------*/
nav {
    border: 10px solid #F6F6F6;
    max-width: 1150px;
    margin: 0 auto;
    text-align: center;}
ul {
    list-style-type: none;
    border-radius: 10px;
    display: flex;}
li{
    width: 25%;}
li a{
    display: block;
    width: 100%;
    color: #FFFFFF;}

li:nth-of-type(1){
    padding: 20px 0px 20px 0px;
    background-color: #0E1F56;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;}

li:nth-of-type(2){
    padding: 20px 0px 20px 0px;
    background-color: #E52D27;}

li:nth-of-type(3){
    padding: 20px 0px 20px 0px;
    background-color: #55ACEE;}

li:nth-of-type(4){
    padding: 20px 0px 20px 0px;
    background-color: #C13584;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;}
li:hover{
    background-color: #B318FF;}
/*------------------main------------------*/
main {
    max-width: 1150px;

    position: relative;
    margin: 0 auto;}
main a[rel="no-follow"]{
    font-weight: 800;}

.reseau {
    font-weight: bold;}
a {
    text-decoration: none;
    color: #3C93F7;}
article a[href*="https://"]{
    color: #0E1F56;}

h2:before{
    content:"";
    width: 5px;
    background-color: #0E1F56;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;}
h2{
    position: relative;
    text-align: center;
    font-size: 35px;
    margin: 80px 0 40px 0px;}
h2:after{
    content:"";
    width: 5px;
    background-color: #0E1F56;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -30px;}

main .intro{
    margin-top: 20px;}
main img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin: 40px 0px 20px 0px;
    object-fit: cover;}
main article p:before{
    content:"";
    width: 3px;
    background-color: #4f525e;
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;}
main article {
    margin-top: 40px;
    position: relative;}
h3 {
    font-size: 25px;
    margin-bottom: 25px;}
article p {
    margin-top: 20px;
    padding-left: 40px;}
a:hover{
    text-decoration: underline;}

article:nth-of-type(1) .reseau {
    color:#0E1F56;}
article:nth-of-type(2) .reseau {
    color:#E52D27;}
article:nth-of-type(3) .reseau {
    color:#55ACEE;}
article:nth-of-type(4) .reseau {
    color:#C13584;}
/*------------------footer------------------*/
footer {
    width: 100%;
    background-color: #061622;
    margin-top: 80px;
    padding: 20px 0px 20px 0px;
    text-align: center;}
footer p,footer a{
    color: #FFFFFF;}
